/* General Styles */
body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}

  /* Header Styles */
header.site-init {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    border-bottom: 2px solid #6b8e23;
}

  /* Navigation Styles */
.nav {
    background-color: #444;
}

.nav-item .nav-link {
    color: #f2f2f2;
}

.nav-item .nav-link:hover, .nav-item .nav-link.active {
    background-color: #6b8e23;
    color: #fff;
}

  /* Main Content */
main.container {
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

  /* Form Styles */
.form-label {
    color: #555;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-text {
    font-size: 12px;
    color: #777;
}

/* Existing styles for input fields */
input[type="text"],
input[type="password"],
input[type="number"]{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out, border-width 0.3s ease-in-out;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
}

/* Increase border width when focused */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    border-width: 2px;
    border-color: #007bff;
}

/* Your existing CSS for other styles */



  /* Button Styles */
.btn.btn-primary {
    background-color: #6b8e23;
    border: none;
}

.btn.btn-primary:hover {
    background-color: #555;
}
